DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_TYPE=postgres
DATABASE_HOST=
DATABASE_SYNCHRONIZE=true

APP_PORT=3000
APP_DOMAIN=http://localhost:3000

MAIL_PORT_CLIENT=1080
MAIL_PORT=1025
MAIL_HOST=